
#app-container{
  padding: 0;
}
.navbar{
    border: none;
    border-radius: 0;
    background-color: #333;
    background-image: -webkit-linear-gradient(top,#555 0,#333 100%);
    background-image: -o-linear-gradient(top,#555 0,#333 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
    background-image: linear-gradient(to bottom,#555 0,#333 100%);
    padding: 0 .5em .75em;
}
.navbar-nav{
  width: 100%;
  margin: 0;
}
.nav-item.title{
  float: right;
  color: #eee;
}
@media screen and (max-width: 500px){
  .nav-item.title{
    float: left;
  }
}
.nav-item .btn{
  margin-top: 1.2em;
}
.order-container{
  padding: 0 .5em;
}
.order{
  background: #eee;
  padding: 0 1em 1em;
  margin-top: 1em;
  border: 1px solid #ddd;
}

.btn{
  border-radius: 0;
}
.list-inline{
  margin-left: 0;
}
.instructions{
  font-style: italic;
  color: #888;
}
.notification{
  padding: .5em;
}
.created-at {
  float: right;
  color: #999;
  font-style: italic;
}
.time.warning{
  color: #eb9316;
}
.time.danger{
  color: #c12e2a;
}

.price{
  color: #09f;
  font-size: 1.4em;
}
.cooking{
  margin-right: .5em;
  padding: 2px 4px;
  font-size: 1em;
}

.order .order-item{
  margin-top: 1em;
  border: 1px solid #ddd;
  padding: 0;
  padding-left: 4px;
  margin-right: .5em;
  background: #fff;
}
.item-qty{
  color: #999;
}
.order-item .btn{
  margin-left: .5em;
}
.order-controls .btn{
  margin-right: 1em;
}
.menu-items .menu-item{
  border: 1px solid #ddd;
  padding: 0;
  padding-left: 4px;
  margin: 0 .5em .5em 0;
  background: #fff;
}
.menu-items .btn {
  margin-left: .5em;
}
